* {
  box-sizing: border-box;
}

////////////////////////////////@at-root
$bg: black;
$col: ivory;
body {
  font-family: "Impact", cursive;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 6em 40em 50px;
  justify-items: center;
  color: $col;
  background: $bg;
  background-image: url("https://ipfs.io/ipfs/QmT8GAxbmJp2jG5GjqC4cCZQAGgBXhfSQFRQXCQnVpGxY8");
  background-size: cover;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.stage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
.activity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}
.bars {
  display: grid;
  grid-template-columns:
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#act_inf {
  margin-top: 1em;
  padding: 0.5em;
  grid-column: 1/7;
  color: black;
}
#mainlinks {
  grid-column: 1/5;
  color: $col;
  background: none;
}
#trees {
  grid-column: 1/5;
  background: #4c9071;
  color: #badbe1;
}
#plant {
  grid-column: 5/9;
  background: #4c9071;
  color: #badbe1;
}
#co2 {
  grid-column: 9/-1;
  background: #4c9071;
  color: #badbe1;
}
#defilinks {
  grid-column: 6/-1;
  grid-row: 1;
  color: $col;
  background: none;
}
.coins {
  grid-column: 1/9;
  grid-row: 1;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-end;
}
#usdc_bal {
  background: #badbe1;
  color: #4c9071;
}
#plnt_bal {
  background: #badbe1;
  color: #4c9071;
}
#tree_bal {
  background: #badbe1;
  color: #4c9071;
}
#co2_bal {
  background: #badbe1;
  color: #4c9071;
}
#profile_btn {
  grid-column: 9/11;
  background: #4c9071;
  color: #badbe1;
}
#net_btn {
  grid-column: 11/-1;
  background: #badbe1;
  color: #4c9071;
}
.link {
  border-radius: 9px;
  padding: 0.5em;
  text-align: center;
  margin-top: 1em;
}
#title {
  grid-column: 4/10;
  grid-row: 2;
  font-size: 52px;
  text-align: center;
  z-index: -1;
  font-weight: 900;
  color: #4c9071;
  padding-top: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #4c9071;
}
path {
  fill: transparent;
}

text {
  fill: #4c9071;
}
#globe {
  border-radius: 50%;
  background: #badbe1;
  width: 40em;
  height: 40em;
  grid-row: 3;
  grid-column: 4/10;
  overflow: hidden;
  box-shadow: inset 0 0 180px #011, /* inner white */ 0px 0px 40px 20px #adf;
}
#cover {
  border-radius: 50%;
  width: 40em;
  height: 40em;
  grid-row: 3;
  grid-column: 4/10;
  overflow: hidden;
}
#modal-stage,
#label-stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(ivory, 0.3);
  z-index: 222;
  display: none;
  padding-top: 5em;
  justify-content: center;
}
#modal,
#label {
  position: relative;
  width: 42em;
  height: 45em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 36px 1fr 36px;
  border: 1px solid black;
  border-radius: 9px;
  padding: 1em;
  justify-self: center;
  background: rgba(white, 0.9);
  color: black;
}
#modal-footer,
#label-footer {
  grid-row: 3;
  grid-column: 1/-1;
  text-align: center;
}
#modal-header,
#label-header {
  grid-row: 1;
  grid-column: 1/-1;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
}
#modal-body,
#label-body {
  grid-row: 2;
  grid-column: 1/-1;
}
#close {
  position: relative;
  right: 0px;
  top: -1em;
  color: ivory;
  background: tomato;
  border: 2px solid ivory;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin: 0;
  padding-bottom: 0.5em;
  text-align: center;
}
.lfield,
.ffield {
  grid-column: 1/-1;
}
#tenx {
  grid-row: 1;
  grid-column: 12;
}
#add {
  grid-row: 1;
  grid-column: 11;
}
#sub {
  grid-row: 1;
  grid-column: 2;
}
#div {
  grid-row: 1;
  grid-column: 1;
}
#amnt {
  grid-row: 1;
  grid-column: 3/10;
  text-align: center;
}
#approve {
  grid-row: 3;
  grid-column: 1/7;
}
#treebuy {
  grid-row: 3;
  grid-column: 7/-1;
}
#approve_m {
  grid-row: 5;
  grid-column: 1/7;
}
#treebuy_m {
  grid-row: 5;
  grid-column: 7/-1;
}
#buyTreesDef,
#plantTreesDef,
#switchNetDef,
#user_avt {
  display: none;
}
#avax,
#avaxFuji,
#polygon,
#polygonMumbai,
#fantom,
#fantomTest {
  grid-column: 1/-1;
  color: ivory;
}
#avax,
#avaxFuji {
  background: tomato;
}
h1,
h2,
h3,
.full {
  padding: 0;
  margin: 0;
  grid-column: 1/ -1;
}
#polygon,
#polygonMumbai {
  background: purple;
}
#fantom,
#fantomTest {
  background: cadetblue;
}
#avax {
  grid-row: 1/3;
}
#avaxFuji {
  grid-row: 3/5;
}
#polygon {
  grid-row: 5/7;
}
#polygonMumbai {
  grid-row: 7/9;
}
#fantom {
  grid-row: 9/11;
}
#fantomTest {
  grid-row: 11/13;
}
#treebalance,
#balance_maxer,
#location_picker,
#titler,
#words,
#bePlanter,
#location,
#dias,
#approveTrees {
  grid-column: 1/-1;
}
#dias {
  font-size: 0.5em;
}
#gazi-north {
  grid-column: 1/6;
}
#gazi-south {
  grid-column: 6/-1;
}
#continents {
  width: 40.3em;
  height: 40.3em;
  display: grid;
  grid-template-rows:
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: rgba(0, 0, 0, 0.2);
  transform: rotate(12deg);
}
#line01,
#line02 {
  grid-column: 1/-1;
}
#land01,
#land02,
#land03,
#land04,
#land05,
#land06,
#land07,
#land08,
#land09,
#land10,
#land11,
#land12,
#land13,
#land14,
#land15,
#land16,
#land17,
#land18,
#land19,
#land20,
#land21,
#land22,
#land23,
#land24,
#land25,
#land26,
#land27,
#land28,
#land29,
#land30,
#land31,
#land32,
#land33,
#land34,
#land35,
#land36,
#land37,
#land38,
#land39,
#land40,
#land41,
#land42,
#land43,
#land44,
#land45,
#land46,
#land47,
#land48,
#land49,
#land50,
#land51,
#land52,
#land53,
#land54,
#land55,
#land56,
#land57,
#land58,
#land59,
#land60 {
  background: mediumseagreen;
  height: 0.6em;
  width: 0.6em;
  border-radius: 3px;
}
#land:hover {
  background: tomato;
}
#nav {
  grid-row: 1;
  grid-column: 1/-1;
}
#foot {
  grid-row: -1;
  grid-column: 3/-3;
  display: grid;
  grid-template-columns: 4fr 3fr 2fr 2fr 2fr;
  font-size: 0.5em;
}
#footLink {
  text-align: center;
}
#file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#pusher,
#uploader {
  cursor: pointer;
  opacity: 1;
}
#pusher,
#submitIpfs {
  border: 1px solid mediumseagreen;
  padding: 0.5em;
  border-radius: 9px;
  background: none;
  color: mediumseagreen;
}
#avt {
  height: 32px;
  width: 32px;
}
#uavt {
  height: 24px;
  width: 24px;
  float: left;
}
